%div{:id=>'menu'}
  -#{:id=>'cssmenu'}
  -#%ul
  -#  %li
  -#    = link_to root_path do
  -#      %span
  -#        = t('.all_image') + " (#{Image.count})"
  -#  -#    Fix mE!!
  -#  -@categories.each do |category|
  -#    %li
  -#      =link_to category do
  -#        %span
  -#          = category.name
  -#          (#{category.images.size})
  -#      -if user_signed_in?
  -#        - if !(@s = Subscribe.where(:category_id=>category.id, :user_id=>current_user.id)).blank?
  -#          =image_tag 'unsubscribe.jpg', :height=>50, :width=>100, :id=>"#{category.id}", :class=>'subscribe'
  -#        - else
  -#          =image_tag 'subscribe.jpg', :height=>50, :width=>100, :id=>"#{category.id}", :class=>'subscribe'
  -#      - else
  -#        =image_tag 'subscribe.jpg', :height=>50, :width=>100, :id=>"#{category.id}", :class=>'subscribe'
  %ul{:id=>'nav'}
    %li
      Categories
    %li{:class=>'right'}
      = link_to root_path do
        %span
          = t('.all_image') + " (#{Image.count})"
    -@categories.each.with_index do |category, index|
      %li{:class => (index % 2).zero? ? 'left' : 'right'}
        -#=image_tag 'subscribe1.jpg', :height=>30, :width=>30, :id=>"#{category.id}"
        =link_to category do
          %span
            = category.name
            (#{category.images.size})