.container-fluid
  .row-fluid
    .span3
      =render 'layouts/categories_menu'
    .span9
      #images
        %h3
          = @category.name.capitalize
          #images-sorted
            sorted by
            =link_to 'created', root_path
            =link_to 'likes', root_path
            =link_to 'comments', root_path
        %section{:id=>"wrapper"}
          -@images.each do |img|
            .imgholder
              %div{:class=>"outer1 circle"}
              %div{:class=>"outer2 circle"}
              %figure
                = link_to "/categories/#{img.category.id}/images/#{img.id}" do
                  = image_tag img.url
                %figcaption{:class=>"caption"}
                  .text-center
                    = pluralize(img.comments.size, t('.comment'))
                    %br
                    = pluralize(img.likes.size, t('.like'))
          .clearfix
        .btn-group.paginate
          = paginate @images







