-# =t('.all_image')
.container-fluid
  .row-fluid
    .span3
      =render 'categories_menu'
    .span9
      .page-images
        %h3.text-center
          =t('.all_image')
        %section{:id=>"wrapper"}
          -@images.each do |img|
            %div{:class=>"imgholder"}
              %div{:class=>"outer1 circle"}
              %div{:class=>"outer2 circle"}
              %figure
                = link_to "/categories/#{img.category.id}/images/#{img.id}" do
                  = image_tag img.url
                %figcaption{:class=>"caption"}
                  .text-center
                    = pluralize(img.comments.size, t('.comment'))
                    %br
                    = pluralize(img.likes.size, t('.like'))
          %div{:class=>"clearfix"}
        .btn-group.paginate
          = paginate @images

      -#.gPopDemoWapper
      -#  %div{:class=>"gPop-gallery", :id=>"demo2"}
      -#    %ul
      -#      -@images.each do |img|
      -#        %li
      -#
      -#          = link_to "/categories/#{img.category.id}/images/#{img.id}", :id => '1' do
      -#            = image_tag img.url, size: '300x300', alt: 'Image'
      -#          %div
      -#            %p
      -#              = pluralize(img.likes.size, t('.like'))
      -#            %p
      -#              = pluralize(img.comments.size, t('.comment'))


