.container-fluid
  .row-fluid
    .span6
      .page-image-show
        = image_tag @image.url.url(:thumb),  :class => 'img-polaroid'

      #likeblock
        %span{:class => 'likecount'}
          = @image.likes.size
        - if @status == true
          %span{:class => 'like'}
            = image_tag 'like.jpg', :width => 120, :id => @image.id, :class => 'imglike'
        - else
          %span{:class => 'like'}
            = image_tag 'unlike.jpg', :width => 120, :id => @image.id, :class => 'imglike'

    .span6
      #comments
        %h2
          =t('.comments')
        #comments-form
          - if user_signed_in?
            = form_for ([@image, @image.comments.build]), :remote=>true do |f|
              %p= f.text_area :body
              %p= f.submit t('.add_comment'), :class => "btn"
        #comments-body
          - @comments.each_with_index do |comment, index|
            .com{:id => index}
              %strong=comment.user.email
              %span=comment.created_at.strftime("%Y-%m-%d %H:%M")
              %hr
              %p{:class=>'reviev-text'}= comment.body
        .text-center
          = paginate @comments