!!!
%html
  %head
    %title Gallery
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %div{:id=>'page'}
      %div{:id=>'page-header'}
        %div{:id=>'page-header-top_panel'}
          -if !user_signed_in?
            %p{:id=>'page-header-top_panel-message'}
              %strong Welcome, Guest
            %div{:id=>'page-header-top_panel-buttons'}
              = link_to 'Login', new_user_session_path, :class => 'btn btn-primary'
              = link_to 'Facebook login', '/auth/facebook', :class => 'btn btn-primary'
              = link_to 'Registration', new_user_registration_path, :class => 'btn btn-primary'
              = link_to 'Home',  img_categories_path, :class => 'btn btn-primary'
          - else
            %p{:id=>'page-header-top_panel-message'}
              %strong Welcome,
              = current_user.email
            %div{:id=>'page-header-top_panel-buttons'}
              = link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary'
              = link_to 'Home',  root_path, :class => 'btn btn-primary'

        %div{:id=>'page-header-panel'}
          %h1 Welcome to my Gallery
          %p We are glad to see boobs lovers
      %div{:id => 'page-main'}
        = yield

      %div{:id => 'page-footer_cleaner'}
    %div{:id => 'footer'}
      %div{:id=>'footer-message'}
        POWERED by YaR

