!!!
%html
  %head
    %title
      = t('.gallery')
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %div{:id=>'page'}
      %div{:id=>'page-header'}
        %div{:id=>'page-header-top_panel'}
          -if !user_signed_in?
            %p{:id=>'page-header-top_panel-message'}
              %strong
                =t('.welcome_g')
            %div{:id=>'page-header-top_panel-buttons'}
              = link_to t('.login'), new_user_session_path, :class => 'btn btn-primary'
              = link_to t('.f_login'), '/auth/facebook', :class => 'btn btn-primary'
              = link_to t('.registration'), new_user_registration_path, :class => 'btn btn-primary'
              = link_to t('.home'),  root_path, :class => 'btn btn-primary'
              = link_to t('.events'), events_path, :class => 'btn btn-primary'
          - else
            %p{:id=>'page-header-top_panel-message'}
              %strong
                = t('.welcome')
              = current_user.nickname
            %div{:id=>'page-header-top_panel-buttons'}
              = link_to t('.sign_out'), destroy_user_session_path, :method => :delete, :class => 'btn btn-primary'
              = link_to t('.home'),  root_path, :class => 'btn btn-primary'
              = link_to t('.events'), events_path, :class => 'btn btn-primary'
        %div{:id=>'page-header-panel'}
          %h1
            = t('.welcome_to_my_gallery')
          %p
            = t('.we_are_glad_to')
      %div{:id => 'page-main'}
        = yield
      %div{:id => 'page-footer_cleaner'}
    %div{:id => 'footer'}
      %div{:id=>'footer-message'}
        = t('.powered')

